
.spaso_left h3 {
    color: rgb(84,56,33);
  }
.Contasiner {
    display: flex;
    height: 100%;
}

.spaso_left {
    display: flex;
}

.spaso_left div {
    background-color: rgb(243,236,212);
    text-align: center;
    margin-left:  2vw;
    border-radius: 25px;
    align-self: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.spaso_left h3{
    padding: 10%;
}