* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html, body{
    height: 100%;
}
.Container {
    height: 100vh;
    display: flex;
}
.section_left{
    width: 20%;
    background-color: rgb(131, 83, 83);
    height:100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-height: 100%;
}
h1{
    color: rgb(194, 181, 7);
    font-size: 2vw;
    margin-left: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h3{
    color: rgb(235, 233, 229);
    margin-left: 1vw;
    font-size: 1.6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.section_left div {
    background-color: rgb(77, 53, 62);
    height: 17%;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 1vw;
}

.section_right{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-image: url('../img/depositphotos_107290864-stock-illustration-sewing-accessories-seamless-retro-vector.jpg');
}
.text{
    text-align: center;
    font-size: 2.7vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text > h1 {
    color: darkblue;
    font-size: 3.5vw;
}
.text > p {
    color: rgb(163, 25, 21);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section_left div:hover {
    background-color: rgb(116, 71, 104); /* Cambia el color al pasar el mouse */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
    transform: scale(1.06); /* Escala ligeramente el div al pasar el mouse */
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Agrega una sombra al div */
}

@media screen and (max-width: 730px) {
    .section_left {
        display: flex;
        flex-direction: row;
        height: 16vh;
        width: 100%;
    }
    .section_left div {
        height: 90%;
        width: 30%;
        margin-top: 1vw;
    }
    h3 {
        font-size: 2.2vw;
    }
    h1 {
        font-size: 2.5vw;
    }
    .section_right {
        width: 100%;
        height: 80%;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .Container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 517px)  {
    .section_left{
        height: 120vh;
        display: flex;
        flex-direction: column;
    }
    .section_left div {
        width: 96%;
        margin-bottom: 1vw;
    }
    h3{
        font-size: 4.9vw;
    }
    h1 {
        font-size: 5.9vw;
    }
    .text {
        font-size: 7vw;
    }
    .text h1 {
        font-size: 8.9vw;
        margin-bottom: 6px;
    }

}